/* Styling for style guru container */
.styleGurucontainer div {
  margin-bottom: 2rem;
}

/* Styling for drop down arrow container and style persona */
.arrowContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

/* Styling for drop down arrow button */
.styleGuruarrow {
  background-color: transparent;
  border: none;
  color: #712e49;
}

/* Styling for persona */
.persona {
  font-size: 2rem;
}
