h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #712e49;
  font-family: "DM Sans";
  font-style: normal;
  line-height: normal;
}

body {
  width: 100%;
  height: 100%;
  background: #f4f5f6;
}

.content {
  margin-left: 2rem;
}

.sizes {
  margin-bottom: 5rem;
}
