/* Syling for navigation menu */
.navigation-container {
  height: 100%;
  width: 100%;
  padding: 0.75rem;
}

/* Styling on navigation elements */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling of logo */
.logo-container {
  margin-right: auto;
}

.logo {
  width: 7rem;
}
