/* Styling for pill size card */
.size-card {
  width: 10rem;
  height: 10rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Styling of text inside card */
.size {
  margin-top: 2rem;
}
